@font-face {
    font-family: "Montserrat-Bold";
    src: local("Montserrat-Bold"), url("../assets/fonts/Montserrat-Bold.eot");
    src: local("Montserrat-Bold"), url("../assets/fonts/Montserrat-Bold?#iefix") format("embedded-opentype"), url("../assets/fonts/Montserrat-Bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat-SemiBold";
    src: local("Montserrat-SemiBold"), url("../assets/fonts/Montserrat-SemiBold.eot");
    src: local("Montserrat-SemiBold"), url("../assets/fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Montserrat-SemiBold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat-Regular";
    src: local("Montserrat-Regular"), url("../assets/fonts/Montserrat-Regular.eot");
    src: local("Montserrat-Regular"), url("../assets/fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Montserrat-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat-ExtraBold";
    src: local("Montserrat-ExtraBold"), url("../assets/fonts/Montserrat-ExtraBold.eot");
    src: local("Montserrat-ExtraBold"), url("../assets/fonts/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Montserrat-ExtraBold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: local("Montserrat-Medium"), url('../assets/fonts/Montserrat-Medium.eot');
    src: local("Montserrat-Medium"), url('../assets/fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Montserrat-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: local("Montserrat-ExtraBold"), url('../assets/fonts/Montserrat-ExtraBold.eot');
    src: local("Montserrat-ExtraBold"), url('../assets/fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Montserrat-ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}